In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#path = "C:/Users/NASH VAZ/Desktop/BE PROJECT/Code/dataset_fog_release/CSV/FOG.csv"
data= pd.read_csv("/content/drive/MyDrive/FOG.csv")

In [ ]:
data.head()

   time  acc_ankel_hor  acc_ankel_ver  ...  acc_trunk_hl  annotation  filename
0    15             70             39  ...             0           0    S01R01
1    31             70             39  ...             0           0    S01R01
2    46             60             49  ...             0           0    S01R01
3    62             60             49  ...             0           0    S01R01
4    78             50             39  ...             0           0    S01R01

[5 rows x 12 columns]

In [ ]:
data.shape

(1048575, 12)

In [ ]:
print(data['annotation'].unique())

[0 1 2]

In [ ]:

data.describe()

               time  acc_ankel_hor  ...  acc_trunk_hl    annotation
count  1.048575e+06   1.048575e+06  ...  1.048575e+06  1.048575e+06
mean   9.492081e+05  -8.139144e+01  ... -1.216940e+02  6.428439e-01
std    7.052758e+05   4.840373e+02  ...  4.638271e+02  5.978405e-01
min    1.500000e+01  -2.892700e+04  ... -4.786000e+03  0.000000e+00
25%    3.741560e+05  -2.120000e+02  ... -2.230000e+02  0.000000e+00
50%    8.035310e+05  -7.000000e+01  ... -3.800000e+01  1.000000e+00
75%    1.380343e+06   7.000000e+01  ...  1.740000e+02  1.000000e+00
max    3.058390e+06   3.072300e+04  ...  4.339000e+03  2.000000e+00

[8 rows x 11 columns]

In [ ]:
data.columns

Index(['time', 'acc_ankel_hor', 'acc_ankel_ver', 'acc_ankel_hl',
       'acc_thigh_hor', 'acc_thigh_ver', 'acc_thigh_hl', 'acc_trunk_hor',
       'acc_trunk_ver', 'acc_trunk_hl', 'annotation', 'filename'],
      dtype='object')

In [ ]:
data.drop(['file'],axis=1,inplace=True)

KeyError: ignored

In [ ]:
data.head(5)

   time  acc_ankel_hor  acc_ankel_ver  ...  acc_trunk_hl  annotation  filename
0    15             70             39  ...             0           0    S01R01
1    31             70             39  ...             0           0    S01R01
2    46             60             49  ...             0           0    S01R01
3    62             60             49  ...             0           0    S01R01
4    78             50             39  ...             0           0    S01R01

[5 rows x 12 columns]

In [ ]:
data.isnull().sum()

time             0
acc_ankel_hor    0
acc_ankel_ver    0
acc_ankel_hl     0
acc_thigh_hor    0
acc_thigh_ver    0
acc_thigh_hl     0
acc_trunk_hor    0
acc_trunk_ver    0
acc_trunk_hl     0
annotation       0
filename         0
dtype: int64

In [ ]:
data.groupby(['annotation']).nunique()

In [ ]:
data.annotation.value_counts()

1    540044
0    441518
2     67013
Name: annotation, dtype: int64

In [ ]:
data.head()

In [ ]:
data.drop(data[data['annotation'] <= 0].index, inplace = True) 
data.head()

In [ ]:
data.head()

In [ ]:
data['annotation']=data['annotation'].replace([1],0)

In [ ]:
data.head()

In [ ]:
data['annotation']=data['annotation'].replace([2],1)

In [ ]:
data['annotation'].unique()

In [ ]:
data.annotation.value_counts()

In [ ]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=101)
type(X_train)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_trainSc = sc_X.fit_transform(X_train)
X_testSc = sc_X.fit_transform(X_test)
X_trainSc[1]

Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
logisticreg = LogisticRegression()
logisticreg.fit(X_train,y_train)

In [ ]:
logistic_preds = logisticreg.predict(X_test)

In [ ]:
from sklearn import metrics
# Creating the confusion matrix
cm = metrics.confusion_matrix(y_test, logistic_preds )
# Assigning columns names
cm_df = pd.DataFrame(cm, 
            columns = ['Predicted Negative', 'Predicted Positive'],
            index = ['Actual Negative', 'Actual Positive'])

# Showing the confusion matrix
print(cm_df)

TP = cm[1,1] # true positive 
TN = cm[0,0] # true negatives
FP = cm[0,1] # false positives
FN = cm[1,0] # false negatives
print('hi')

print('True Positives:', TP)
print('True Negatives:', TN)
print('False Positives:', FP)
print('False Negatives:', FN)
# calculate accuracy
conf_accuracy = (float (TP+TN) / float(TP + TN + FP + FN))*100
    
    # calculate mis-classification
conf_misclassification = 1- conf_accuracy
    
    # calculate the sensitivity
conf_sensitivity = (TP / float(TP + FN))*100
    # calculate the specificity
conf_specificity = (TN / float(TN + FP))*100
    
    # calculate precision
conf_precision = (TP/ float(TP + FP))*100
    # calculate f_1 score
conf_f1 = 2 * ((conf_precision * conf_sensitivity) / (conf_precision + conf_sensitivity))*100
    
    
print('-'*50)
print(f'Accuracy: {round(conf_accuracy,2)}') 
print(f'Mis-Classification: {round(conf_misclassification,2)}') 
print(f'Sensitivity: {round(conf_sensitivity,2)}') 
print(f'Specificity: {round(conf_specificity,2)}') 
print(f'Precision: {round(conf_precision,3)}')
print(f'f_1 Score: {round(conf_f1,2)}')

Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
forest_model = RandomForestClassifier()
forest_model.fit(X_train, y_train)
forest_preds = forest_model.predict(X_test)

In [ ]:
from sklearn import metrics
# Creating the confusion matrix
cm = metrics.confusion_matrix(y_test, forest_preds )
# Assigning columns names
cm_df = pd.DataFrame(cm, 
            columns = ['Predicted Negative', 'Predicted Positive'],
            index = ['Actual Negative', 'Actual Positive'])

# Showing the confusion matrix
print(cm_df)

TP = cm[1,1] # true positive 
TN = cm[0,0] # true negatives
FP = cm[0,1] # false positives
FN = cm[1,0] # false negatives
print('hi')

print('True Positives:', TP)
print('True Negatives:', TN)
print('False Positives:', FP)
print('False Negatives:', FN)
# calculate accuracy
conf_accuracy = (float (TP+TN) / float(TP + TN + FP + FN))*100
    
    # calculate mis-classification
conf_misclassification = 1- conf_accuracy
    
    # calculate the sensitivity
conf_sensitivity = (TP / float(TP + FN))*100
    # calculate the specificity
conf_specificity = (TN / float(TN + FP))*100
    
    # calculate precision
conf_precision = (TP/ float(TP + FP))*100
    # calculate f_1 score
conf_f1 = 2 * ((conf_precision * conf_sensitivity) / (conf_precision + conf_sensitivity))*100
    
    
print('-'*50)
print(f'Accuracy: {round(conf_accuracy,2)}') 
print(f'Mis-Classification: {round(conf_misclassification,2)}') 
print(f'Sensitivity: {round(conf_sensitivity,2)}') 
print(f'Specificity: {round(conf_specificity,2)}') 
print(f'Precision: {round(conf_precision,3)}')
print(f'f_1 Score: {round(conf_f1,2)}')

KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_trainSc,y_train)

In [ ]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_trainSc,y_train)

knn_preds = knn.predict(X_testSc)

from sklearn import metrics
# Creating the confusion matrix
cm = metrics.confusion_matrix(y_test, knn_preds )
# Assigning columns names
cm_df = pd.DataFrame(cm, 
            columns = ['Predicted Negative', 'Predicted Positive'],
            index = ['Actual Negative', 'Actual Positive'])

# Showing the confusion matrix
print(cm_df)

TP = cm[1,1] # true positive 
TN = cm[0,0] # true negatives
FP = cm[0,1] # false positives
FN = cm[1,0] # false negatives
print('hi')

print('True Positives:', TP)
print('True Negatives:', TN)
print('False Positives:', FP)
print('False Negatives:', FN)
# calculate accuracy
conf_accuracy = (float (TP+TN) / float(TP + TN + FP + FN))*100
    
    # calculate mis-classification
conf_misclassification = 1- conf_accuracy
    
    # calculate the sensitivity
conf_sensitivity = (TP / float(TP + FN))*100
    # calculate the specificity
conf_specificity = (TN / float(TN + FP))*100
    
    # calculate precision
conf_precision = (TP/ float(TP + FP))*100
    # calculate f_1 score
conf_f1 = 2 * ((conf_precision * conf_sensitivity) / (conf_precision + conf_sensitivity))*100
    
    
print('-'*50)
print(f'Accuracy: {round(conf_accuracy,2)}') 
print(f'Mis-Classification: {round(conf_misclassification,2)}') 
print(f'Sensitivity: {round(conf_sensitivity,2)}') 
print(f'Specificity: {round(conf_specificity,2)}') 
print(f'Precision: {round(conf_precision,3)}')
print(f'f_1 Score: {round(conf_f1,2)}')

Navie Bayes

In [ ]:


#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = gnb.predict(X_test)

In [ ]:
from sklearn import metrics
# Creating the confusion matrix
cm = metrics.confusion_matrix(y_test, y_pred )
# Assigning columns names
cm_df = pd.DataFrame(cm, 
            columns = ['Predicted Negative', 'Predicted Positive'],
            index = ['Actual Negative', 'Actual Positive'])

# Showing the confusion matrix
print(cm_df)

TP = cm[1,1] # true positive 
TN = cm[0,0] # true negatives
FP = cm[0,1] # false positives
FN = cm[1,0] # false negatives
print('hi')

print('True Positives:', TP)
print('True Negatives:', TN)
print('False Positives:', FP)
print('False Negatives:', FN)
# calculate accuracy
conf_accuracy = (float (TP+TN) / float(TP + TN + FP + FN))*100
    
    # calculate mis-classification
conf_misclassification = 1- conf_accuracy
    
    # calculate the sensitivity
conf_sensitivity = (TP / float(TP + FN))*100
    # calculate the specificity
conf_specificity = (TN / float(TN + FP))*100
    
    # calculate precision
conf_precision = (TP/ float(TP + FP))*100
    # calculate f_1 score
conf_f1 = 2 * ((conf_precision * conf_sensitivity) / (conf_precision + conf_sensitivity))*100
    
    
print('-'*50)
print(f'Accuracy: {round(conf_accuracy,2)}') 
print(f'Mis-Classification: {round(conf_misclassification,2)}') 
print(f'Sensitivity: {round(conf_sensitivity,2)}') 
print(f'Specificity: {round(conf_specificity,2)}') 
print(f'Precision: {round(conf_precision,3)}')
print(f'f_1 Score: {round(conf_f1,2)}')

Decision Tree Classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(criterion="entropy")
tree.fit(X_train,y_train)

In [ ]:
tree_preds = tree.predict(X_test)

from sklearn import metrics
# Creating the confusion matrix
cm = metrics.confusion_matrix(y_test, tree_preds )
# Assigning columns names
cm_df = pd.DataFrame(cm, 
            columns = ['Predicted Negative', 'Predicted Positive'],
            index = ['Actual Negative', 'Actual Positive'])

# Showing the confusion matrix
print(cm_df)

TP = cm[1,1] # true positive 
TN = cm[0,0] # true negatives
FP = cm[0,1] # false positives
FN = cm[1,0] # false negatives
print('hi')

print('True Positives:', TP)
print('True Negatives:', TN)
print('False Positives:', FP)
print('False Negatives:', FN)
# calculate accuracy
conf_accuracy = (float (TP+TN) / float(TP + TN + FP + FN))*100
    
    # calculate mis-classification
conf_misclassification = 1- conf_accuracy
    
    # calculate the sensitivity
conf_sensitivity = (TP / float(TP + FN))*100
    # calculate the specificity
conf_specificity = (TN / float(TN + FP))*100
    
    # calculate precision
conf_precision = (TP/ float(TP + FP))*100
    # calculate f_1 score
conf_f1 = 2 * ((conf_precision * conf_sensitivity) / (conf_precision + conf_sensitivity))*100
    
    
print('-'*50)
print(f'Accuracy: {round(conf_accuracy,2)}') 
print(f'Mis-Classification: {round(conf_misclassification,2)}') 
print(f'Sensitivity: {round(conf_sensitivity,2)}') 
print(f'Specificity: {round(conf_specificity,2)}') 
print(f'Precision: {round(conf_precision,3)}')
print(f'f_1 Score: {round(conf_f1,2)}')

In [ ]:
names = ["LogisticRegression","RandomForest","KNeighborsClassifier","Navie Bayes","DecisionTreeClassifier"]

In [ ]:
scores=[88.15,
       95.40,
       92.13,
       84.41,
       96.07]

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
df = pd.DataFrame()
df['name'] = names
df['score'] = scores
df

In [ ]:
cm = sns.light_palette("red", as_cmap=True)
s = df.style.background_gradient(cmap=cm)
s

In [ ]:
sns.set(style="whitegrid")
ax = sns.barplot(y="name", x="score", data=df)